@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    outline: none;
}
.exist,
button,
input,
span {
    font-family: poppins;
}
.container {
    margin-top: 1%;
    display: flex;
    margin-right: 2%;
    margin-left: 2%;
}
.header {
    font-size: 20px;
    color: gray;
}
.search {
    margin-left: auto;
}
.find {
    margin-left: 10px;
}
.search button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px;
    font-size: 13px;
}
.content {
    border: 1px solid rgb(74, 74, 74);
    overflow-y: scroll;
    padding: 17px;
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 14px;
    height: 67vh;
    color: black;
    font-family: poppins;
}

.content:empty:not(:focus):before {
    content: attr(text);
    opacity: 30%;
    font-size: 18px;
}
button {
    border: none;
    color: white;
    cursor: pointer;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 2%;
    border-radius: 4px;
    transition: background-color 200ms, transform 200ms;
}
button:hover {
    background-color: rgb(85, 85, 85);
    transform: translate(0.5px, -1px);
}
button:active {
    transform: translate(0);
    background-color: rgb(60, 60, 60);
}
input {
    border: 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 15px;
    padding-left: 10px;
    border-radius: 3px;
}

a {
    margin-right: 5px;
    margin-left: 5px;
    color: gray;
}

.exist {
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 5px;
    visibility: hidden;
}
footer {
    font-family: poppins;
    position: fixed;
    font-size: small;
    bottom: 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding-left: 1%;
}

@media only screen and (max-width: 590px) {
    .header {
        max-width: 170px;
        font-size: 18px;
    }
    .search {
        margin-top: 15px;
    }
    .search input {
        margin: 0;
        font-size: 11px;
        width: 90px;
        padding: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .search button {
        margin: 0;
        font-size: 12px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

@media only screen and (max-width: 555px) {
    .name,
    .password {
        margin: 0;
        width: 106px;
        font-size: 11px;
    }
    .password {
        margin: 0;
        width: 125px;
    }
    .submit {
        margin-left: 3%;
        font-size: 12px;
        padding: 3px;
        padding-left: 6px;
        padding-right: 6px;
    }
    .content {
        margin-left: 2.5%;
    }
    .header {
        margin-left: 0.5%;
    }
}

@media only screen and (max-width: 385px) {
    .header {
        max-width: 140px;
        font-size: 15px;
    }
    .name,
    .password {
        margin: 0;
        width: 80px;
        font-size: 9px;
    }
    .password {
        margin: 0;
        width: 100px;
    }
    .submit {
        margin-left: 3%;
        font-size: 11.5px;
        padding: 2px;
        padding-left: 4px;
        padding-right: 4px;
    }
    .search button {
        font-size: 10px;
        padding-left: 4;
        padding-right: 4;
    }
    .search input {
        margin: 0;
        font-size: 10px;
        width: 75px;
        padding: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
@media only screen and (max-width: 325px) {
    .name,
    .password {
        margin: 0;
        width: 70px;
        font-size: 8px;
    }
    .password {
        margin: 0;
        width: 90px;
    }
    .submit {
        font-size: 10.5px;
    }
}
