* {
    margin: 0;
    outline: none;
}
body{
    font-family: poppins;
}
.container {
    margin-top: 1%;
    display: flex;
    margin-right: 2%;
    margin-left: 2%;
}
.header {
    font-size: 20px;
    color: gray;
}
.search {
    margin-left: auto;
}
.find {
    margin-left: 10px;
}
.search button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px;
    font-size: 13px;
}
.content {
    border: 1px solid rgb(74, 74, 74);
    overflow-y: scroll;
    padding: 17px;
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 14px;
    height: 500px;
    color: black;
}

.content:empty:not(:focus):before {
    content: attr(text);
    opacity: 30%;
    font-size: 18px;
}
button {
    border: none;
    color: white;
    cursor: pointer;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 2%;
    border-radius: 2px;
    transition: background-color 200ms, transform 200ms;
}
button:hover {
    background-color: rgb(85, 85, 85);
    transform: translate(0.5px, -1px);
}
button:active {
    transform: translate(0);
    background-color: rgb(60, 60, 60);
}
input {
    border: 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 15px;
    padding-left: 10px;
    border-radius: 3px;
}

a {
    margin-right: 5px;
    margin-left: 5px;
    color: gray;
}

.exist {
    color: red;
    width: 200px;
    margin-left: 2%;
    padding-left: 172px;
    visibility: hidden;
}
footer {
    position: fixed;
    font-size: small;
    bottom: 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding-left: 1%;
}

@media only screen and (max-width: 890px) {
    .header {
        font-size: 18px;
    }
    input {
        font-size: 12px;
        margin: 0;
        padding: 4px;
        padding-left: 7px;
        padding-right: 7px;
        width: 100px;
    }
    button {
        font-size: 11px;
        padding: 6px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .find {
        padding: 3px;
    }
    .password {
        width: 130px;
    }
    .search button {
        margin: 0;
        font-size: 12px;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media only screen and (max-width: 422px) {
    .header {
        max-width: 170px;
    }
    .search {
        margin-top: 12px;
    }
}
@media only screen and (max-width: 376px) {
    input {
        width: 70px;
        font-size: 9px;
    }
    button {
        font-size: 9px;
        padding: 4px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
